<!doctype html>
<html>
  <head>
    <meta charset="utf8">
    <link rel="stylesheet" href="style.css">
    <style>
      body {
        padding: 0;
      }
    </style>
  </head>
  <body class="footer">
    <footer>
      <p><strong>scalable minds UG (haftungsbeschränkt) &amp; Co. KG</strong></p>
      <p>
        Geschäftsführer: Bocklisch, Tom &bull; Bräunlein, Dominic &bull; Herold, Tom &bull; Rzepka, Norman &bull; Werkmeister, Thomas<br>
        Amtsgericht Potsdam, HRA 5753<br>
        Steuer-Nr. 046/170/04718, USt-IdNr. DE283513495
      </p>
      <p>
        Mittelbrandburgische Sparkasse in Potsdam &bull; BIC WELADED1PMB &bull; IBAN DE15 1605 0000 1000 9589 02
      </p>
    </footer>
  </body>
</html>